# Credenciales y secretos - ¡NUNCA SUBIR A GIT!
.streamlit/secrets.toml
surveyfisherman-firebase-adminsdk.json

# Archivos de cache de Python
__pycache__/
*.pyc

# Archivos de entorno virtual (si usas uno)
.venv/
venv/

# Archivos de sistema operativo
.DS_Store
Thumbs.db
